* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.back-btn {
    position: fixed;
    height: 45px;
    width: 45px;
    background: white;
    left: 20px;
    top: 20px;
    font-size: 40px;
    text-align: center;
    color: blue;
    line-height: 45px;
    cursor: pointer;
}
.Cover img{
    width: 100%;
}
.AboutUs h1{
    font-size: 40px;
    text-align: center;
}
.AboutUs img {
    width: 20%;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.AboutUs h2{
    font-size: 30px;
    text-align: center;
}
.AboutUs h3{
    font-size: 20px;
    text-align: center;
}
.paragraph{
    font-size: 20px;
    text-align: center;
}
.oupartners_container{
    display: grid;
    justify-content: center;
}
.heading_ourpartners h2{
    font-size: 30px;
    text-align: center;
}
.oupartners_container{
    margin-top: 200px;
    border: red 2px;
}
/* .heading1 span{
    margin-top: 100px;
    border: 2px red;
} */
.partnersimage_container img{
    width: 50%;
    float: right;
    margin-right: 20px;
}