* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.back-btn {
    position: fixed;
    height: 45px;
    width: 45px;
    background: white;
    left: 20px;
    top: 20px;
    font-size: 40px;
    text-align: center;
    color: blue;
    line-height: 45px;
    cursor: pointer;
}
.faq h2{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: dodgerblue;
    color: white;
}
  

.pagination a:hover:not(.active) {
    background-color: #ddd;}

.isi p {
    border: 2px black solid;
}