* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.back-btn {
    position: fixed;
    height: 45px;
    width: 45px;
    background: white;
    left: 20px;
    top: 20px;
    font-size: 40px;
    text-align: center;
    color: blue;
    line-height: 45px;
    cursor: pointer;
}
.faq h2{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
.pagination1{
    margin-left: 26%;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 2px black solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pagination a.active {
    background-color: lightyellow;
    color: black;
}
  

.pagination a:hover:not(.active) {
    background-color: #ddd;}
    

.kotak{
    width: 700px;
    height: auto;
    padding: 8px 16px;
    border: 2px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    left: 26%;
    margin-top: 38px;
}