* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/backgroundflightsafe.png);
    background-size: cover;
}


.back-btn {
    position: fixed;
    height: 45px;
    width: 45px;
    background: white;
    left: 20px;
    top: 20px;
    font-size: 40px;
    text-align: center;
    color: blue;
    line-height: 45px;
    cursor: pointer;
}
.ConfirmEmail img{
    width: 1560px;
    height: 700px;
    margin-top: 10px;
}
.ConfirmEmail {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    float: left;
    
}
.fields {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 3%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: white;
    background-size: cover;
    position: absolute;
    color:black;
}
.fields img {
    width: 125px;
    height: 90px;
    margin-left: 33%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.fields h2{
    text-align: center;
}
.fields h3{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 5%;
}
.ConfirmEmail .fieldemail {
    text-align: center;
    height: 7%;
    width: 80%;
    display: flex;
    margin-bottom: 15px;
    margin-left: 10%;
}
.ConfirmEmail .fieldemail input{
    height: 100%;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    outline: 0;
    padding: 0 15px;
    font-size: 15px;
    /* text-align: center; */
}
.ConfirmEmail .continue input{
    width: 80px;
    height: 30px;
    background: blue;
    border: 2px solid blue;
    font-size: 13px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    text-align: center;
    transition: all ease 0.25 s;
    margin-bottom: 15px;
}
.ConfirmEmail .continue {
    text-align: center;
    margin-top: 5px;
}
