.searchbox {
    position: absolute;
    background-color: white;
    opacity: 0.9;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    padding-right: 20px;
    margin-left: 325px;
    margin-top: 400px;
    width: 900px;
    height: 250px;
}
.searchbox .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.inputbox {
    opacity: 0.9;
    margin: 30px;
    margin-top: 70px;
}

.searchbox .inputbox1 input {
    background: yellow;
    padding: 6px;
    width: 100%;
    font-size: 1, 1em;
    padding-left: 40px;
    padding-right: 40px;
    opacity: 1;
    border-radius: 15px;
}

.searchbox .inputbox1 input:hover {
    background: rgb(53, 53, 45);
    color: yellow;
}
.searchbox .inputbox .box1 {
    width: 200px;
    height: 25px;
}
.searchbox .inputbox .box2 {
    width: 175px;
    height: 25px;
}
.searchbox .inputbox .box3 {
    height: 25px;
}
.searchbox .inputbox .box4 {
    height: 25px;
}
.logo img {
    width: 150px;
    margin-left: 45px;
}

.navie {
    float: right;
    margin-right: 20px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
}
.navie li:nth-child(4) {
    margin-right: -20px;
}
.navie li:nth-child(3) {
    margin-right: 30px;
}
.navie a,
.navie i {
    padding: 10px;
    text-decoration: none;
    color: black;
}
.navie li {
    list-style: none;
}
.navie a:hover {
    padding: 10px;
    text-decoration: none;
    color: white;
    background: black;
}
.navie .sub li:nth-child(2) a:hover {
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    color: white;
    background: black;
}
.navie i:hover {
    padding: 10px;
    text-decoration: none;
    color: white;
    background: black;
    cursor: pointer;
}
.navie li:hover .sub {
    display: block;
}
.sub {
    display: none;
    z-index: 999;
    position: absolute;
    top: 110px;
    right: 20px;
    background: whitesmoke;
    width: 80px;
}
.sub li {
    width: 90px;
    padding: 5px;
    text-align: left;
    margin-left: -45px;
}
.sub li:nth-child(1) {
    border-bottom: 1px dotted black;
}

.navie input {
    margin-left: 25px;
}
.multi-button button {
    background: black;
    font-weight: bold;
    color: white;
    font-size: 12px;
}

.multi-button .btn1 {
    border-radius: 20px 0px 0px 20px;
}

.multi-button .btn2 {
    border-radius: 0px 20px 20px 0px;
}
.multi-button a {
    padding: 0;
}
.multi-button a:nth-child(1):hover {
    padding: 0;
    border-radius: 20px 0px 0px 20px;
    text-decoration: none;
    color: white;
    background: black;
}
.multi-button a:nth-child(2):hover {
    padding: 0;
    border-radius: 0px 20px 20px 0px;
    text-decoration: none;
    color: white;
    background: black;
}
.multi-button button:hover {
    cursor: pointer;
    filter: drop-shadow(3px 5px 5px rgba(158, 158, 158, 0.45));
}
button:active {
    filter: none;
    transform: scale(0.95);
}
.sponsor img {
    width: 400px;
    margin-top: 30px;
}

.sponsor {
    margin-left: 350px;
}

.bg img {
    width: 1560px;
    height: 700px;
    margin-top: 10px;
}

.navie i {
    margin-left: 25px;
}
footer {
    margin-left: 60px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(0, 140, 255);
}
footer a {
    text-decoration: none;
}
